<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sideNavFragment">
    <aside class="sidebar">
        <ul class="menu-list">
            <li class="menu-item">
                <a th:href="@{/departments}" class="menu-link">부서 관리</a>
            </li>
            <li class="menu-item">
                <a th:href="@{/pattern/calendar}" class="menu-link">근태 패턴 관리</a>
            </li>

            <li class="menu-item has-sub">
                <div class="menu-title-wrapper" onclick="toggleSubMenu(this)">
                    <span class="menu-title">근태 신청 및 변경</span>
                    <span class="arrow-icon">▼</span>
                </div>
                <ul class="sub-menu">
                    <li><a th:href="@{/attendance/request/general}">일반근태 신청</a></li>
                    <li><a th:href="@{/attendance/request/other}">기타근태 신청</a></li>
                </ul>
            </li>

            <li class="menu-item">
                <a th:href="@{/attendance/calendar}" class="menu-link">근태 캘린더</a>
            </li>

            <li class="menu-item">
                <a th:href="@{/attendance/department}" class="menu-link">부서 근태 조회</a>
            </li>

            <li class="menu-item">
                <a th:href="@{/dept/approval}" class="menu-link">부서원 근태 승인</a>
            </li>

            <li>
                <a th:href="@{/attendance/department/week}" class="menu-link">부서별 주 근태조회</a>
            </li>

            <li>
                <a th:href="@{/attendance/department/month}" class="menu-link">부서별 월 근태조회</a>
            </li>

            <li class="menu-item">
                <a th:href="@{/users/new}" class="menu-link">사원 등록</a>
            </li>
        </ul>
    </aside>

    <link rel="stylesheet" th:href="@{/css/sideNav.css}">
    <script th:src="@{/js/sideNav.js}"></script>
</div>
</html>